div {
    color: blue;
    font-size: 35px;
    width: 300px;
    height: 300px;
    border: 10px double black;
    padding: 20px;
    background: url("./logo.png");
    background-clip: content-box;
    -webkit-background-clip: content-box;
}